<div class="container bg">
	{{!-- Start row --}}
	<div class="row">
	    <div class="col-sm-12 text-center">
			<img class="logo" src="assets/img/burger_logo.jpg">
	        <h1>Trash Burger</h1>
	        <p>You've had the best, now try the rest!</p>
	    </div>
  	</div>
	{{!-- End row --}}
	{{!-- Start row --}}
	<div class="row">
	    <div class="col-sm-6">
			<h2>Your order is ready!</h2>

			<ul>
			  {{#each burgers}}
			    {{#unless this.devoured}}
			      <li>
			      	{{this.id}}
			        {{this.burger_name}}

			        <form action="/{{this.id}}?_method=PUT" method="POST">
			          <input type="hidden" name="devoured" value="true">
			          <button class="btn-primary" type="submit">Devour It!</button>
			        </form>

			      </li>
			    {{/unless}}
			  {{/each}}
			</ul>



	    </div>

	    <div class="col-sm-5">

			<h2>Burgers you've eaten already!</h2>
			
			  {{#each burgers}}
			    {{#if this.devoured}}
			      <li>
			      	{{this.id}}
			        {{this.burger_name}}

			      </li>
			    {{/if}}
			  {{/each}}
			
	    </div>

  	</div>
	{{!-- End row --}}
	{{!-- Start row --}}
	<div class="row">
	    <div class="center col-sm-12">

			<h2>Hungry? Order another burger!</h2>

			<form class="burger-form" action="/" method="POST">

			  <div class="form-group">
			    <p>Just tell us what you want to eat and smack that order button.</p>
			    <input type="text" id="ca" name="burger_name">
			  </div>
			  
			  <button class="btn-primary" type="submit">Order Burger</button>
			</form>

	    </div>
	
  	</div>
	{{!-- End row --}}

</div>